body, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, html, li, map, ol, p, pre, table, td, th, ul {
    margin: 0;
    padding: 0;
}
div{
    display: block;
}
body{
    background-color: #f2f0f0;
    color: #666;
    font-size: 12px;
    font-family: Arial,'Microsoft YaHei';
}
.top-wrap .hidden{
    display: none;
}
#beauty{width: 1200px;
    margin: auto;
    clear: left;
}
#beauty .title-wrap {
    margin: 40px auto 20px;
}
#beauty .title-addition {
    float: right;
    margin-top: 5px;
    color: #6f6f6f;
}
.top-wrap .title {
    font-size: 20px;
    line-height: 28px;
}
h3 {
    _zoom: 1;
}
h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.waterfall-container {
    position: relative;
}
.waterfall-box {
    float: left;
    margin-left: 15px;
    margin-bottom: 15px;
}
.waterfall-optimise-show {
    display: block;
}
.beauty_poster {
    width: 224px;
    height: 403px;

}
.beauty_poster .picBox {
    width: 224px;
    height: 340px;

    display: block;
    position: relative;
}
.lazyload-img-end {
    opacity: 1;
}


.pic-list .part {
    margin-top: 5px;
    height: 30px;
    line-height: 30px;
}
.pic-list .price {
    display: inline-block;
    font-size: 16px;
    color: #f36;
    margin-right: 2px;
}
.pic-list .collect {
    float: right;
    line-height: 14px;
    font-size: 14px;
    margin-top: 6px;
    margin-left: 3px;
    color: #999;
}
.pic-list .icon-star {
    margin-right: 3px;
}
.icon-star {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url(http://s2.mogucdn.com/mlcdn/c45406/170328_88giad0l4lcl61kg8ak02567ddhfd_32x30.png) center no-repeat;
    background-size: 100%;
}

i, cite, em, var, address, dfn {
    font-style: italic;
}
.pic-list .title {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.icon-select {
    display: inline-block;
    width: 38px;
    height: 20px;
    margin-right: 4px;
    background: url(http://s2.mogucdn.com/p2/170314/133753108_5996kakhb5c3kl74gjg24c2h24l48_90x42.png) no-repeat center;
    background-size: contain;
    vertical-align: sub;
}
